<% if question.have_best_answer? %>
  <div class="accepting-<%= question.id %>">
    <% if question.accepting %>
      <%= link_to "受付中断", question_update_accepting_path(question.id), remote:true %>
    <% else %>
      <%= link_to "受付再開", question_update_accepting_path(question.id), remote:true %>
    <% end %>
  </div>
<% end %>