<table class="table table-striped text-center">
  <thead>
    <tr>
      <th scope="col">題名</th>
      <th scope="col">報酬</th>
      <th scope="col">ステータス</th>
      <th scope="col">回答数</th>
    </tr>
  </thead>
  <tbody>
    <% questions.each do |question| %>
      <tr>
        <td><%= link_to "#{question.title}", question_path(question.id) %></td>
        <td><%= question.reword_point %></td>
        <td><%= render "questions/accepting", question: question %></td>
        <td><%= question.answers.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>