<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-5">
      <h2 class="mb-4">質問フォーム</h2>
      <%= render "questions/form", question: @question %>
    </div>
  </div>
</div>

