<div class="container my-5">
  <div class="row justify-content-center text-center">
    <div class="col">
      <h2><%= current_user.name %>様</h2><br>
      <h3>退会するとユーザーの情報全てが削除されます。</h3><br>
      <h3 class="mb-4">本当に退会しますか</h3>
      <%= link_to '退会する', user_path(current_user), method: :delete, class: "btn btn-danger col-3" %>
      <%= link_to '退会しない', root_path, class: "btn btn-primary col-3" %>
    </div>
  </div>
</div>