
<%= form_with model:[question, answer], local:true do |f| %>
  <%= render "layouts/error_message", object: answer %>
  <div class="form-group">
    <%= f.text_area :answer_content, placeholder: "回答をここに記入", class: "form-control", rows: "5" %>
  </div>
  <div class="form-group">
    <%= f.submit "回答", class: "form-control btn btn-primary" %>
  </div>
<% end %>