<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-7">
      <h2 class="mb-4">質問</h2>
      <%= render "questions/detail", question: @answer.question %>
      <h2 class="border-bottom my-4">回答詳細</h2>
      <div class="card">
        <div class="card-body">
          <%= @answer.answer_content %>
        </div>
      </div>
      <%= link_to "戻る", question_path(@answer.question_id), class: "btn btn-primary mt-2" %>
    </div>
  </div>
</div>