<div class="text-center my-5">
  <i class="fas fa-question-circle fa-5x"></i>
  <h1 class="display-3 my-5">The Answerとは？</h1>
  <h4 class="my-3">困った事、悩んでいる事、疑問に思う事を質問したり、</h4>
  <h4 class="mb-3">質問に対する回答をし、ベストアンサーを獲得することで</h4>
  <h4>ポイントを稼ごう!!</h4>
</div>

<div class="container my-5">
  <h2 class="text-center border-bottom my-5 py-5">主な機能</h2>
  <div class="card-deck text-center">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">質問機能</h3>
        <i class="far fa-question-circle fa-5x my-4"></i>
        <p class="card-text", style="font-size: 20px;">困った事、疑問に思う事、悩み事、何でも良いので聞きたいことを質問しよう！</p>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h3 class="card-title">回答機能</h3>
        <i class="far fa-edit fa-5x my-4"></i>
        <p class="card-text", style="font-size: 20px;">誰かの質問に回答し、誰かの役に立とう！</p>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h3 class="card-title">ポイント機能</h3>
        <i class="fas fa-gift fa-5x my-4"></i>
        <p class="card-text", style="font-size: 20px;">回答した答えがベストアンサーに選ばれると、報酬としてポイント質問者からポイントが貰えます！積極的に回答しよう！</p>
      </div>
    </div>
  </div>
</div>

<div class="text-center my-5">
  <%= link_to "Log in画面へ", new_user_session_path, class: "btn btn-info" %>
  <%= link_to "Sign up画面へ", new_user_registration_path, class: "btn btn-info" %>
</div>
