<div class="text-center my-5">
  <i class="fas fa-question-circle fa-5x"></i>
  <h1 class="display-3 my-5">The Answer</h1>
  <h3 class="mt-5 mb-3">「何か困った事、悩んでいる事、疑問に思う事」</h3>
  <h3 class="mb-3">日々生活していく中でたくさんあると思います。</h3>
  <h3 class="mb-3">そのようなことを気軽に質問してみませんか？</h3>
</div>



